.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(11, 11, 11, 0.95);
    opacity: 0;
    transition: all ease 500ms;
}
.video-overlay-2{
    position: fixed;
    opacity: 0;
    background: rgba(11, 11, 11, 0.95);
    transition: all ease 500ms;
}

.video-overlay-2.open {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
}
.video-overlay.open {
    position: fixed;
    z-index: 1000;
    opacity: 1;
}
.video-overlay-close {
    position: absolute;
    z-index: 1000;
    top: 13%;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
}

.video-overlay-close:hover {
    color: #fa183d;
}
.video-overlay-2 iframe,
.video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* width: 90%; */
    /* height: auto; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}